	<!-- header -->
	<header>
		<div id="logo"></div>
	</header>

	<!-- menu -->
	<nav>
		<ul id="nav">
			<!-- <li class="i_house"><a href="/main-be/dashboard"><span>Dashboard</span></a></li> -->
			<li class="i_user"><a href="/main-be/me"><span>#springMessage("app.menu.profile")</span></a></li>
			#if( $!userInfo.Role == 1 || $!userInfo.UserManager == true )
			<li class="i_user"><a href="/main-be/userList"><span>#springMessage("app.menu.users")</span></a></li>
			#end

			#if( $!userInfo.Role == 1 || $!userInfo.Role == 3 )
			<li class="i_shopping_bag"><a href="/main-be/brandList"><span>#springMessage("app.menu.brands")</span></a></li>
			<li class="i_shopping_bag"><a href="/main-be/shoppingList"><span>#springMessage("app.menu.shoppings")</span></a></li>
			<li class="i_shopping_bag"><a href="/main-be/storeList"><span>#springMessage("app.menu.stores")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerList"><span>#springMessage("app.menu.offers")</span></a></li>
			<li class="i_sale"><a href="/main-be/campaignSpecialList"><span>#springMessage("app.menu.campaignspecials")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerProposalList"><span>#springMessage("app.menu.offerProposals")</span></a></li>
			<!-- <li class="i_sale"><a href="/main-be/rewardList"><span>#springMessage("app.menu.rewards")</span></a></li> -->
			<li class="i_sale"><a href="/main-be/financialEntityList"><span>#springMessage("app.menu.financialentities")</span></a></li>
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end
			
			#if( $!userInfo.Role == 5 )
			<li class="i_shopping_bag"><a href="/main-be/shoppingList"><span>#springMessage("app.menu.shoppings")</span></a></li>
			<li class="i_shopping_bag"><a href="/main-be/storeList"><span>#springMessage("app.menu.stores")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerList"><span>#springMessage("app.menu.offers")</span></a></li>
			<li class="i_sale"><a href="/main-be/campaignSpecialList"><span>#springMessage("app.menu.campaignspecials")</span></a></li>
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end

			#if( $!userInfo.Role == 7 )
			<li class="i_shopping_bag"><a href="/main-be/brandList"><span>#springMessage("app.menu.brands")</span></a></li>
			<li class="i_shopping_bag"><a href="/main-be/storeList"><span>#springMessage("app.menu.stores")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerList"><span>#springMessage("app.menu.offers")</span></a></li>
			<li class="i_sale"><a href="/main-be/campaignSpecialList"><span>#springMessage("app.menu.campaignspecials")</span></a></li>
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end

			#if( $!userInfo.Role == 9 )
			<li class="i_sale"><a href="/main-be/financialEntityList"><span>#springMessage("app.menu.financialentities")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerList"><span>#springMessage("app.menu.offers")</span></a></li>
			<li class="i_sale"><a href="/main-be/campaignSpecialList"><span>#springMessage("app.menu.campaignspecials")</span></a></li>
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end

			#if( $!userInfo.Role == 11 )
			<li class="i_sale"><a href="/main-be/offerList"><span>#springMessage("app.menu.offers")</span></a></li>
			<li class="i_sale"><a href="/main-be/campaignSpecialList"><span>#springMessage("app.menu.campaignspecials")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerProposalList"><span>#springMessage("app.menu.offerProposals")</span></a></li>
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end

			#if( $!userInfo.Role == 13 )
			<li class="i_shopping_bag"><a href="/main-be/brandList"><span>#springMessage("app.menu.brands")</span></a></li>
			<li class="i_shopping_bag"><a href="/main-be/shoppingList"><span>#springMessage("app.menu.shoppings")</span></a></li>
			<li class="i_shopping_bag"><a href="/main-be/storeList"><span>#springMessage("app.menu.stores")</span></a></li>
			<li class="i_sale"><a href="/main-be/offerList"><span>#springMessage("app.menu.offers")</span></a></li>
			<li class="i_sale"><a href="/main-be/campaignSpecialList"><span>#springMessage("app.menu.campaignspecials")</span></a></li>
			<!-- <li class="i_sale"><a href="/main-be/rewardList"><span>#springMessage("app.menu.rewards")</span></a></li> -->
			<li class="i_sale"><a href="/main-be/financialEntityList"><span>#springMessage("app.menu.financialentities")</span></a></li>
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end

			#if( $!userInfo.Role == 15 )
			<li class="i_sale"><a href="/main-be/coupons"><span>#springMessage("app.menu.coupons")</span></a></li>
			#end

			#if( $!userInfo.Role == 1 || $!userInfo.TableManager == true )
			<li class="i_graph"><a><span>#springMessage("app.menu.config")</span></a>
				<ul>
					<li><a href="/main-be/areaList"><span>#springMessage("app.menu.areas")</span></a></li>
					<li><a href="/main-be/serviceList"><span>#springMessage("app.menu.services")</span></a></li>
					<li><a href="/main-be/offerTypeList"><span>#springMessage("app.menu.offertypes")</span></a></li>
					#if( $!userInfo.Role == 1 )
					<li><a href="/main-be/globalNotification"><span>#springMessage("app.menu.globalNotification")</span></a></li>
					#end
				</ul>
			</li>
			#end
			<!-- 
			<li class="i_graph"><a href="/main-be/statistics"><span>Estadisticas</span></a></li>
			<li class="i_graph"><a><span>Estadisticas</span></a>
				<ul>
					<li><a href="estadisticas-locales.html"><span>Locales</span></a></li>
					<li><a href="estadisticas-regalos.html"><span>Regalos
								Canjeados</span></a></li>
					<li><a href="estadisticas-eventos.html"><span>Eventos</span></a></li>
					<li><a href="estadisticas-ofertas.html"><span>Ofertas</span></a></li>
					<li><a href="estadisticas-roi.html"><span>ROI</span></a></li>
				</ul>
			</li>
			 -->
		</ul>
	</nav>
	<!-- fin menu -->
