#*
 * HTML velocimacros
 * @author Ted Husted
*#
## Select control
## $name The control name
## $selected The selected value
## $labels The list of labels for the options
## $values The list of values for the options
#macro (select $name $selected $labels $values)
  ## The velocityCounter starts at 1 by default, so we use our own zero-based counter.
  #set($s="NULL" )
  #set($s=$selected )
  #set($i=0 )
  <select name="$name" id="$name">
  #foreach ($v in $values)
  <option value="$v"#if("$v"=="$s") selected="selected"#end>$!labels.get($i)</option>
  #set($i=1+$i)
  #end
  </select>
#end

#*
 * HTML velocimacros
 * @author Ted Husted
*#
## Multi Select control
## $name The control name
## $selected The selected value
## $labels The list of labels for the options
## $values The list of values for the options
#macro (multiselect $name $selected $labels $values)
  ## The velocityCounter starts at 1 by default, so we use our own zero-based counter.
  #set($s="NULL" )
  #set($s=$selected )
  #set($i=0)
  <select name="$name" id="$name" multiple>
  #foreach ($v in $values)
  <option value="$v"#if($s.contains("$v")) selected="selected"#end>$!labels.get($i)</option>
  #set($i=1+$i)
  #end
  </select>
#end

#*
 * Timezone Select
 * @author mhapanowicz
*#
## timezone
## $name The control name
## $selected The selected value
#macro (timezone $name $selected) 
#set($s=$selected )
<select name="$name" id="$name">
	<option #if("-12.0"=="$s") selected="selected"#end value="-12">(GMT -12:00) Eniwetok, Kwajalein</option>
	<option #if("-11.0"=="$s") selected="selected"#end value="-11">(GMT -11:00) Midway Island, Samoa</option>
	<option #if("-10.0"=="$s") selected="selected"#end value="-10">(GMT -10:00) Hawaii</option>
	<option #if("-9.0"=="$s") selected="selected"#end value="-9">(GMT -9:00) Alaska</option>
	<option #if("-8.0"=="$s") selected="selected"#end value="-8">(GMT -8:00) Pacific Time (US and Canada)</option>
	<option #if("-7.0"=="$s") selected="selected"#end value="-7">(GMT -7:00) Mountain Time (US and Canada)</option>
	<option #if("-6.0"=="$s") selected="selected"#end value="-6">(GMT -6:00) Central Time (US and Canada), Mexico City</option>
	<option #if("-5.0"=="$s") selected="selected"#end value="-5">(GMT -5:00) Eastern Time (US and Canada), Bogota, Lima</option>
	<option #if("-4.0"=="$s") selected="selected"#end value="-4">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
	<option #if("-3.5"=="$s") selected="selected"#end value="-3.5">(GMT -3:30) Newfoundland</option>
	<option #if("-3.0"=="$s") selected="selected"#end value="-3">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
	<option #if("-2.0"=="$s") selected="selected"#end value="-2">(GMT -2:00) Mid-Atlantic</option>
	<option #if("-1.0"=="$s") selected="selected"#end value="-1">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
	<option #if("0.0"=="$s") selected="selected"#end value="0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
	<option #if("1.0"=="$s") selected="selected"#end value="1">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
	<option #if("2.0"=="$s") selected="selected"#end value="2">(GMT +2:00) Kaliningrad, South Africa</option>
	<option #if("3.0"=="$s") selected="selected"#end value="3">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
	<option #if("3.5"=="$s") selected="selected"#end value="3.5">(GMT +3:30) Tehran</option>
	<option #if("4.0"=="$s") selected="selected"#end value="4">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
	<option #if("4.5"=="$s") selected="selected"#end value="4.5">(GMT +4:30) Kabul</option>
	<option #if("5.0"=="$s") selected="selected"#end value="5">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
	<option #if("5.5"=="$s") selected="selected"#end value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
	<option #if("6.0"=="$s") selected="selected"#end value="6">(GMT +6:00) Almaty, Dhaka, Colombo</option>
	<option #if("7.0"=="$s") selected="selected"#end value="7">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
	<option #if("8.0"=="$s") selected="selected"#end value="8">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
	<option #if("9.0"=="$s") selected="selected"#end value="9">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
	<option #if("9.5"=="$s") selected="selected"#end value="9.5">(GMT +9:30) Adelaide, Darwin</option>
	<option #if("10.0"=="$s") selected="selected"#end value="10">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
	<option #if("11.0"=="$s") selected="selected"#end value="11">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
	<option #if("12.0"=="$s") selected="selected"#end value="12">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
</select>
#end


#*
 * Formats a date in yyyy-MM-dd
 * @author mhapanowicz
*#
## formdate
## $date The date to format
#macro (formdate $date) 
#if( $date )$formSDF.format($date)#end
#end

#*
 * Gets the day part of a date
 * @author mhapanowicz
*#
#macro (getday $date)
#if( $date )$svh.getDateDay($date)#end
#end

#*
 * Gets the month part of a date
 * @author mhapanowicz
*#
#macro (getmonth $date)
#if( $date )$svh.getDateMonth($date)#end
#end

#*
 * Gets the year part of a date
 * @author mhapanowicz
*#
#macro (getyear $date)
#if( $date )$svh.getDateYear($date)#end
#end