<script type="text/javascript">

$(function() {
	$.getJSON('/main-be/metrics/chartData?lastMonth=true&metricEntity=CheckinHour&metricType=4&filterNames=checkinHour&entityKind=$entityKind&entityId=$entityId&callback=?', function(data) {
		// Create the chart
		$('#checkins_by_hour_widget_container').highcharts({
			lang : {
				contextButtonTitle : 'Menu',
				decimalPoint : '.',
				downloadJPEG : 'Descargar JPEG',
				downloadPDF : 'Descargar PDF',
				downloadPNG : 'Descargar PNG',
				downloadSVG : 'Descargar SVG',
				loading : 'Cargando...',
				months : ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				printChart : 'Imprimir',
				rangeSelectorFrom : 'Desde',
				rangeSelectorTo : 'Hasta',
				rangeSelectorZoom : 'Zoom',
				resetZoom : 'Reestablecer Zoom',
				resetZoomTitle : 'Zoom 1:1',
				thousandsSep : ',',
				weekdays : ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']
			},
            chart: {
            	type: 'column'
            },
            title: {
                text: $.i18n._('counters.checkinsbyhour.title')
            },
            xAxis: {
                categories: [
                    '08 AM',
                    '09 AM',
                    '10 AM',
                    '11 AM',
                    '12 PM',
                    '01 PM',
                    '02 PM',
                    '03 PM',
                    '04 PM',
                    '05 PM',
                    '06 PM',
                    '07 PM',
                    '08 PM',
                    '09 PM',
                    '10 PM'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+  $.i18n._('counters.checkinsbyhour.' + this.point.name) +'</b>: '+ this.y.toFixed(2) +' %';
                }
            },
            series: [{
                name: $.i18n._('counters.checkinsbyhour.title'),
                data: data
            }]
        });
	});

});
</script>


<div class="widget" id="checkins_by_hour_widget" data-icon="users" data-collapsed="false" data-collapsible="false">
	<h3 class="handle">#springMessage("counters.checkinsbyhour.title")</h3>
	<div>
		<div id="checkins_by_hour_widget_container" style="height: 400px; min-width: 400px"></div>
	</div>
</div>
