<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Allshoppings Email</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h1{
  color:#382F2E;
  margin:0;
}

div,p,ul,h1{
  margin:0;
}


</style>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center" bgcolor="#F6F6F6">
    <tr>
      <td valign='top' >
        <table  width="600" border="0" cellspacing="0" cellpadding="0" align="center" style='font-family:helvetica, sans-serif;' bgcolor='#F6F6F6'>
          <tr>
            <td width='20'></td>
            <td>
              <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                <!--  =========================== The header ===========================  -->                
                <tr><td height='25'></td></tr>

                <tr>
                  <td>
                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                      <tr>

                        <td align='left' valign='middle' >
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable" >
                              <img src="${staticContentURL}/logo-mail.png" alt='Company logo' data-default="placeholder"  width='290' >
                            </div>
                          </div>
                        </td>

                        <td align='right' valign='top' >
                          <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                            <div class="contentEditable" >
                            <!-- 
                              <a href="[SHOWEMAIL]" style='color:#A8B0B6;font-size:13px;text-decoration:none;'>Open in your browser</a>
                               -->
                            </div>
                          </div>
                        </td>
                        <td width='18' align='right' valign='top'>
                          <div class="contentEditableContainer contentImageEditable" style='display:inline-block;'>
                            <div class="contentEditable" >
                            <!-- 
                              <a href="[SHOWEMAIL]"><img src="${staticContentURL}/openBrowser.png" alt='open in browser image' data-default="placeholder" width='15' height='15' style='padding-left:10px;'></a>
                               -->
                            </div>
                          </div>
                        </td>

                      </tr>
                    </table>
                  </td>  
                </tr>

                <tr><td height='25'></td></tr>

                
               

                <!--  =========================== The body ===========================  -->
                <tr>
                  <td class='movableContentContainer'>
                    <!--  ==== movable content in the body ===  -->

                    
                    <div class='movableContent'>
                      <table width="558" border="0" cellspacing="0" cellpadding="0">
                        
                        <tr>
                          <td>
                            <table width="558" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='#ffffff' style='border:1px solid #dddddd'>
                              <tr><td colspan='3' height='16'></td></tr>
                              <tr>
                                <td width='16'></td>
                                <td>
                                  <table width="526" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='#ffffff'>
                                    <tr>
                                      <td align='left' valign='top'>
                                        <div class="contentEditableContainer contentTextEditable" >
                                         <div class="contentEditable" >
                                          <h1 style='color:#555555;font-size:21px;font-weight:normal;'>Hola! ${user.firstname}</h1>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr><td height='13'></td></tr>
                                  <tr>
                                    <td align='left' valign='top'>
                                      <div class="contentEditableContainer contentTextEditable" >
                                       <div class="contentEditable" >
                                        <p style='color:#999999;font-size:13px;line-height:19px;'>Gracias por descargar Allshoppings!<br>
										Nosotros te vamos ayudar a encontrar las mejores ofertas m&aacute;s cercanas a tí. 
										Los cupones te llegar&aacute;n cuando vas a un Centro Comercial que est&eacute; adherido a AllShoppings.
                                        </p>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                               
                            </table>

                          </td>
                          <td width='16'></td>
                        </tr>
                        <tr><td colspan='3' height='16'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
              </div>

              <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0">
                  <tr><td height='25'></td></tr>
                  <tr>
                    <td>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td width='269' style='border:1px solid #dddddd;' bgcolor='ffffff'>
                            <table width="269" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='9' colspan='3'></td></tr>

                              <tr>
                                <td width='9'></td>
                                <td width='251'>
                                  <div class='contentEditableContainer contentImageEditable'>
                                    <div class='contentEditable'>
                                      <img src="${staticContentURL}/imagen1.png" alt='encuentra tus centros comerciales y tiendas cercanos' data-default="placeholder" data-max-width="251" width='251' height='400' >
                                    </div>
                                  </div>
                                </td>
                                <td width='9'></td>
                              </tr>

                              <tr><td height='9' colspan='3'></td></tr>
                            </table>
                          </td>

                          <td width='18'></td>
                          
                          <td width='269' style='border:1px solid #dddddd;' bgcolor='ffffff'>
                            <table width="269" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='9' colspan='3'></td></tr>

                              <tr>
                                <td width='9'></td>
                                <td width='251'>
                                  <div class='contentEditableContainer contentImageEditable'>
                                    <div class='contentEditable'>
                                      <img src="${staticContentURL}/imagen2.png" alt='recibe ofertas y canjea' data-default="placeholder" data-max-width="251" width='251' height='400' >
                                    </div>
                                  </div>
                                </td>
                                <td width='9'></td>
                              </tr>

                              <tr><td height='9' colspan='3'></td></tr>
                            </table>
                          </td>
                        </tr>
						
						
                        
                      </table>
                    </td>
                  </tr>
                </table>
                
              </div>
			   <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0">
                  <tr><td height='25'></td></tr>
                  <tr>
                    <td>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td width='269' style='border:1px solid #dddddd;' bgcolor='ffffff'>
                            <table width="269" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='9' colspan='3'></td></tr>

                              <tr>
                                <td width='9'></td>
                                <td width='251'>
                                  <div class='contentEditableContainer contentImageEditable'>
                                    <div class='contentEditable'>
                                      <img src="${staticContentURL}/imagen3.png" alt='encuentra todas las ofertas' data-default="placeholder" data-max-width="251" width='251' height='400' >
                                    </div>
                                  </div>
                                </td>
                                <td width='9'></td>
                              </tr>

                              <tr><td height='9' colspan='3'></td></tr>
                            </table>
                          </td>

                          <td width='18'></td>
                          
                          <td width='269' style='border:1px solid #dddddd;' bgcolor='ffffff'>
                            <table width="269" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='9' colspan='3'></td></tr>

                              <tr>
                                <td width='9'></td>
                                <td width='251'>
                                  <div class='contentEditableContainer contentImageEditable'>
                                    <div class='contentEditable'>
                                      <img src="${staticContentURL}/imagen4.png" alt='marca tus favoritos' data-default="placeholder" data-max-width="251" width='251' height='400' >
                                    </div>
                                  </div>
                                </td>
                                <td width='9'></td>
                              </tr>

                              <tr><td height='9' colspan='3'></td></tr>
                            </table>
                          </td>
                        </tr>
						
						
                        
                      </table>
                    </td>
                  </tr>
                </table>
                
              </div>

              <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0">
                  <tr><td height='25'></td></tr>
                  <tr>
                    <td>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td width='175' valign='top'>
                            <table width="175" border="0" cellspacing="0" cellpadding="0" align="left" valign='top' bgcolor='#52999E'>
                             
                          <td width='18'></td>
                          
                          <td width='560' style='border:1px solid #dddddd;' bgcolor='ffffff' valign='top'>
                            <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='15' colspan='3'></td></tr>

                              <tr>
                                <td width='20'></td>
                                <td width='325'>
                                  <table width="327" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <h1 style='color:#555555;font-size:21px;font-weight:normal;'>Checa como funciona:
                                            </h1>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='13'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <p style='color:#999999;font-size:13px;line-height:19px;'>
											<iframe width="560" height="315" src="https://www.youtube.com/embed/N0ASuV1NWkU?rel=0" frameborder="0" allowfullscreen></iframe>
											
											</div>
                                        </div>
                                      </td>
                                    </tr>
                                    
                                  </table>
                                </td>
                                <td width='20'></td>
                              </tr>

                              <tr><td height='15' colspan='3'></td></tr>
                            </table>
                          </td>
                        </tr>
                        
                      </table>
                    </td>
                  </tr>
                </table>
                
              </div>

              <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0">
                  <tr><td height='25'></td></tr>
                  <tr>
                    <td>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td width='316' style='border:1px solid #dddddd;' bgcolor='ffffff' valign='top'>
                            <table width="316" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='15' colspan='3'></td></tr>

                              <tr>
                                <td width='20'></td>
                                <td width='276'>
                                  <table width="276" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <h1 style='color:#555555;font-size:21px;font-weight:normal;'>Si te gusta Allshoppings. Valoranos y Difundilo!</h1>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='13'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <p style='color:#999999;font-size:13px;line-height:19px;'>Te Invitamos a que nos recomiendes desde:
											<br><br><a href="https://play.google.com/store/apps/details?id=mobi.allshoppings.app&hl=es&utm_source=Email%20Bienvenidos&utm_medium=correo&utm_campaign=Recomendacion%20Google%20play"><img src="${staticContentURL}/btn_gplay.png" alt='Google Play link'></a><br>
											<a href="https://itunes.apple.com/us/app/allshoppings/id877917150?mt=8&utm_source=Email%20Bienvenidos&utm_medium=correo&utm_campaign=Recomendacion%20iphone"><img src="${staticContentURL}/btn_app.png" alt='Iphone link'></a>
                                            </p>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='16'></td></tr>
                                   
                                  </table>
                                </td>
                                <td width='20'></td>
                              </tr>

                              <tr><td height='15' colspan='3'></td></tr>
                            </table>
                          </td>

                          <td width='18'></td>
                          
                          <td width='224' style='border:1px solid #dddddd;' bgcolor='ffffff' valign='top'>
                            <table width="224" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr><td height='15' colspan='3'></td></tr>

                              <tr>
                                <td width='20'></td>
                                <td width='180'>
                                  <table width="180" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                          <div class='contentEditable'>
                                            <h1 style='color:#555555;font-size:21px;font-weight:normal;'>Contactanos:</h1>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='13'></td></tr>
                                    <tr>
                                      <td>
                                        <div class='contentEditableContainer contentTextEditable'>
										<p style='color:#999999;font-size:13px;line-height:19px;'>
										Seguinos en Facebook y Twitter y no te pierdas de nada!</p><br>
                                            	<a href="https://www.facebook.com/allshoppings"target="_blank">
												<img src="${staticContentURL}/facebook2.png"></a>
												<a href="https://twitter.com/AllShoppings" target="_blank">
												<img src="${staticContentURL}/twitter3.png"></a>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr><td height='16'></td></tr>
                                   
                                  </table>
                                </td>
                                <td width='20'></td>
                              </tr>

                              <tr><td height='15' colspan='3'></td></tr>
                            </table>
                          </td>
                        </tr>
                        
                      </table>
                    </td>
                  </tr>
                </table>
                
              </div>




            </td>
          </tr>
          <!--  =========================== The footer ===========================  -->

          <tr><td height='30'></td></tr>

          <tr>
            <td bgcolor='#52999E'>
              <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#52999E'>
                <tr>
                  <td bgcolor='#52999E' width='416' align='left' valign='top'>
                    <table width="416" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#52999E'>
                      <tr><td height='28' colspan='3'></td></tr>
                      <tr>
                        <td width='30'></td>
                        <td valign='middle'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class="contentEditable">
                              <p style='color:#ffffff;font-size:14px;line-height:19px;'>
                                Hagamos Contacto!
                              </p>
                            </div>
                          </div>
                        </td>
                        <td width='10'></td>
                      </tr>
                      <tr><td height='28' colspan='3'></td></tr>
                    </table>
                  </td>
                  <td bgcolor='#3C8287' width='72' valign='top' align='center'>
                    <table width="72" width='72' border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#3C8287'>
                      <tr>
                        <td bgcolor='#3C8287' width='72' height='72' align='center' valign='middle'>
                          <div class='contentEditableContainer contentFacebookEditable'>
                            <div class="contentEditable" valign='middle'>
                              <a href="https://www.facebook.com/allshoppings"target="_blank"><img src="${staticContentURL}/facebook.png" alt='facebook link' data-default="placeholder" data-max-width="37" width='37' height='37' ></a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td bgcolor='#275D61' width='72' valign='top' align='center'>
                    <table width="72" height='72' border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#275D61'>
                      <tr>
                        <td bgcolor='#275D61' width='72' height='72' align='center' valign='middle'>
                          <div class='contentEditableContainer contentTwitterEditable'>
                            <div class="contentEditable" valign='middle'>
                              <a href="https://twitter.com/AllShoppings" target="_blank"><img src="${staticContentURL}/twitter.png" alt='twitter link' data-default="placeholder" data-max-width="37" width='37' height='37' ></a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr><td height='28'></td></tr>

          <tr>
            <td valign='top' align='center'>
              <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" >
                  <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>This email was sent to ${user.email} when you signed up on AllShoppings.mobi Please add us to your contacts to ensure the newsletters land in your inbox.
                  </p>
                </div>
              </div>
            </td>
          </tr>

          <tr><td height='28'></td></tr>

          <tr>
            <td valign='top' align='center'>
              <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" >
                  <p style='color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;'>AllShoppings - <a href="http://www.allshoppings.mobi" target="_blank">www.allshoppings.mobi</a></p>
                </div>
              </div>
            
            </td>
          </tr>

          <tr><td height='28'></td></tr>

        </table>
      </td>
      <td width='20'></td>
    </tr>
  </table>
</td>
</tr>
</table>


  </body>
  </html>
