<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- ** IoC Spring Container ** -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/bdbApplicationContext.xml</param-value>
	</context-param>
    
    <!-- Simple filter to avoid cross domain issues on PhoneGap Apps -->
	<filter>
		<filter-name>CrossDomainServletFilter</filter-name>
		<filter-class>mobi.allshoppings.bdb.tools.CrossDomainServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CrossDomainServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--  Character Set Encoding Filter... Forces everyone to work in UTF-8 -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ** Servlet for REST graph api ** -->
	<servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>org.restlet.ext.spring.RestletFrameworkServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- ** Image/Blob upload/serving ** -->
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.image.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/img/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.image.ServeImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BrandExport</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.dashboard.bz.spi.BrandExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrandExport</servlet-name>
		<url-pattern>/dashboard/brandExport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportExport</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.dashboard.bz.spi.ReportExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportExport</servlet-name>
		<url-pattern>/dashboard/reportExport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitDetailExport</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.dashboard.bz.spi.VisitDetailExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitDetailExport</servlet-name>
		<url-pattern>/dashboard/visitDetailExport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>APDeviceExport</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.dashboard.bz.spi.APDeviceExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>APDeviceExport</servlet-name>
		<url-pattern>/dashboard/apdeviceExport</url-pattern>
	</servlet-mapping>

	<!-- Servlet that handles initial configuration -->
	<servlet>
		<servlet-name>Init</servlet-name>
		<servlet-class>mobi.allshoppings.bdb.tools.InitAppServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>