#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
#if( $brand )
	<title>#springMessage("app.title") | #springMessage("app.brand.edit")</title>
#else
	<title>#springMessage("app.title") | #springMessage("app.brand")</title>
#end

	<meta name="description" content='#springMessage("app.brand.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="/main-be/highcharts-3.0.1/js/highstock.js"></script>
	<script src="/main-be/highcharts-3.0.1/js/modules/exporting.js"></script>
	<script src="/main-be/js/brand.js"></script>

	#if( $canwrite == false )
	<script>
		$(document).ready(function() {
			$.setReadOnly();
		});
	</script>
	#end
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<ul id="headbreadcrumb" class="breadcrumb" data-connect="breadcrumbcontent">
			<li><a href="#">#springMessage("app.brand.generalData")</a></li>
			#if( $brand )
			<li><a href="#">#springMessage("app.brand.media")</a></li>
			<li><a href="#">#springMessage("app.brand.invoicingData")</a></li>
			<li><a href="#">#springMessage("app.audit")</a></li>
			<!-- <li><a href="#">#springMessage("app.followers")</a></li> -->
			<!-- <li><a href="#">#springMessage("app.visits")</a></li> -->
			#end
		</ul>

		<div class="g12 nodrop">
			<table>
				<tr>
					<td width="110">
					#if( $brand.AvatarId )
						<a class="fancybox" href="/img/$!brand.AvatarId" title="$!brand.Fullname"><img src="/img/$!brand.AvatarId" width="100" height="100" alt=""></a>
					#else
						<a class="fancybox" href="/main-be/css/images/defaultavatar.png"><img src="/main-be/css/images/defaultavatar.png" width="100" height="100" alt=""></a>
					#end
					</td>
					<td style="text-align: left;">
						<div class="g12 nodrop">
						#if( $brand )
							<h1>#springMessage("app.brand.edit")</h1>
						#else
							<h1>#springMessage("app.brand")</h1>
						#end
							<p>#springMessage("app.brand.description")</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div id="breadcrumbcontent">
				<!-- brand Profile -->
				<div>
					<form id="contactForm" method="post" action="doUpdateBrand" autocomplete="off">
						<fieldset>
							<label style="height: 30px;">
								#springMessage("app.brand.generalData")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/brandList';" >#springMessage("app.button.back")</button>
								#end
							</label>
							
							<section>
								<label>#springMessage("data.brandName")</label>
								<div>
								<input style="width: 97% !important;" type="text" id="name" required data-errortext='#springMessage("error.name")' value="$!brand.Name">
								#if ($brand)
									<input type="hidden" id="brandid" value="$brand.Identifier">
									<input type="hidden" id="crudtype" value="edit">
								#else
									<input type="hidden" id="brandid" value="">
									<input type="hidden" id="crudtype" value="create">
								#end
								</div>
							</section>

							<section>
								<label>#springMessage("data.country")</label>
								<div>
									#if ($brand)
										$!brand.Country
										<input type="hidden" id="country" value="$!brand.Country" />
									#else
										#select("country", $!brand.Country, $svh.getCountryNames(${lang}), $svh.getCountryNames(${lang}))
									#end
								</div>
							</section>

							<section>
								<label for="avatar">#springMessage("data.avatar")</label>
								<div>
									<table>
										<tr>
											<td width="130" style="vertical-align: middle;">
											#if( $brand.AvatarId )
												<a id="avatarAnchor" class="fancybox" href="/img/$!brand.AvatarId" title="$!brand.Fullname"><img id="avatarImage" src="/img/$!brand.AvatarId" width="116" height="116" alt=""></a>
											#else
												<a id="avatarAnchor" class="fancybox" href="/main-be/css/images/defaultavatar.png" title=""><img id="avatarImage" src="/main-be/css/images/defaultavatar.png" width="116" height="116" alt=""></a>
											#end
											<input type="hidden" id="avatarId"/>
											</td>
											<td>
												<input type="file" id="avatar">
											</td>
										</tr>
									</table>
								</div>
							</section>

							<section>
								<label>#springMessage("data.status")</label>
								<div>
									#select("status", $!brand.Status, $svh.getStatusNames(${lang}), $svh.StatusValues)
								</div>
							</section>

							<section>
								<label>#springMessage("data.briefBrandDescription")</label>
								<div>
									<textarea id="description" class="html" rows="15" data-buttons="bold|italic|underline">$!brand.description</textarea>
								</div>
							</section>

							<section>
								<label>#springMessage("data.areas")</label>
								<div>
									#multiselect("areas", $!brand.AreaId, $areaNames, $areaIds)
								</div>
							</section>

							<label>#springMessage("app.brand.contactData")</label>

							<section>
								<label>#springMessage("data.email")</label>
								<div>
									<input style="width: 97% !important;" type="email" id="mail" value="$!brand.ContactInfo.Mail.Email">
								</div>
							</section>

							<section>
								<label>#springMessage("data.phoneAndMobile")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="phone" value="$!brand.ContactInfo.Phone">
									<input style="width: 48% !important;" type="text" id="mobile" value="$!brand.ContactInfo.Mobile">
								</div>
							</section>

							<section>
								<label>#springMessage("data.webpage")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="webURL"  placeholder="http://" value="$!brand.ContactInfo.WebURL">
								</div>
							</section>

							<section>
								<label>#springMessage("data.facebook")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="facebookId" value="$!brand.ContactInfo.FacebookId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.twitter")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="twitterId" value="$!brand.ContactInfo.TwitterId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.googleId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="googleId" value="$!brand.ContactInfo.GoogleId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.foursquareId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="foursquareId" value="$!brand.ContactInfo.FoursquareId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.tiendeoId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="tiendeoId" value="$!brand.ContactInfo.TiendeoId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.youtubeChannel")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="youtubeChannel" value="$!brand.ContactInfo.YoutubeChannel">
								</div>
							</section>

							<section>
							<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/brandList';" >#springMessage("app.button.back")</button>
								#end
							</div>
							</section>

							<section>
								<div id="contactFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				#if( $brand )
				<!-- Multimedia -->
				<div>
					<form id="mediaForm" method="post" action="doUpdateBrandMedia" autocomplete="off">
						<fieldset>
							<input type="hidden" id="brandid" value="$brand.Identifier">
							<label style="height: 30px;">
								#springMessage("app.brand.media")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/brandList';" >#springMessage("app.button.back")</button>
								#end
							</label>

							<section>
								<label for="mediaUpload">#springMessage("app.brand.uploadPhotos")<br>
								<span>#springMessage("app.brand.uploadPhotosMeasures")</span>
								</label>
								<div>
									<input type="file" id="mediaUpload" multiple>
								</div>
							</section>

							<section>
								<label for="media">#springMessage("app.brand.currentPhotos")</label>
								<ul id="mediaGallery" class="gallery">
								#foreach( $photo in $!brand.PhotoId )
									<li><a href="/img/$photo"><img src="/img/$photo" width="116" height="116" alt=""></a></li>
								#end
								</ul>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/brandList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="invoicingFormMsg"></div>
							</section>
							
						</fieldset>
					</form>
				</div>

				<!-- Invoicing Data -->
				<div>
					<form id="invoicingForm" method="post" action="doUpdateBrandInvoicing" autocomplete="off">
						<fieldset>
							<input type="hidden" id="brandid" value="$brand.Identifier">
							<label style="height: 30px;">
								#springMessage("app.brand.invoicingData")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/brandList';" >#springMessage("app.button.back")</button>
								#end
							</label>

							<section>
								<label>#springMessage("data.companyName")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="companyName" value="$!brand.InvoicingInfo.CompanyName">
								</div>
							</section>

							<section>
								<label>#springMessage("data.inscription")</label>
								<div>
									#select("inscription", $!brand.InvoicingInfo.Inscription, $svh.getInscriptionsNames(${lang}), $svh.getInscriptionsNames(${lang}))
								</div>
							</section>

							<section>
								<label>#springMessage("data.vatNumber")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="vatNumber" value="$!brand.InvoicingInfo.VatNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.addressAndNumber")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="invoiceStreetName" value="$!brand.InvoicingInfo.InvoiceStreetName">
									<input style="width: 48% !important;" type="text" id="invoiceStreetNumber" value="$!brand.InvoicingInfo.InvoiceStreetNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.citiAndZipCode")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="invoiceCity" value="$!brand.InvoicingInfo.InvoiceCity">
									<input style="width: 48% !important;" type="text" id="invoiceZipCode" value="$!brand.InvoicingInfo.InvoiceZipCode">
								</div>
							</section>

							<section>
								<label>#springMessage("data.province")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="invoiceProvince" value="$!brand.InvoicingInfo.InvoiceProvince">
								</div>
							</section>

							<section>
								<label>#springMessage("data.country")</label>
								<div>
									#select("invoiceCountry", $!brand.InvoicingInfo.InvoiceCountry, $svh.getCountryNames(${lang}), $svh.getCountryNames(${lang}))
								</div>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/brandList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="invoicingFormMsg"></div>
							</section>
							
						</fieldset>
					</form>
				</div>

				<!-- Audit -->
				<div>
					<form id="policiesForm" autocomplete="off">
						<fieldset>
							<input type="hidden" id="offerid" value="$offer.Identifier">
							<label style="height: 30px;">
								#springMessage("app.audit")
							</label>

							<section>
								<label for="creationDateTime">#springMessage("app.audit.creationDateTime")</label>
								<div>
									$svh.formatDate($brand.creationDateTime) - $svh.formatTime($brand.creationDateTime)
								</div>
							</section>

							<section>
								<label for="lastUpdate">#springMessage("app.audit.lastUpdate")</label>
								<div>
									$svh.formatDate($brand.lastUpdate) - $svh.formatTime($brand.lastUpdate)
								</div>
							</section>

							<section>
								<label for="lastUpdate">#springMessage("app.audit.owner")</label>
								<div>
									$brand.acl.owner
								</div>
							</section>

							<section>
								<div id="auditFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				<!-- Dashboard -->
				<div>
					<fieldset>
							<div class="g6 widgets">
								#parse("metrics/total_favorites.vm")
								#parse("metrics/total_followers_by_gender.vm")
								#parse("metrics/total_female_followers_by_age.vm")
							</div>

							<div class="g6 widgets">
								#parse("metrics/total_followers_devices_by_platform.vm")
								#parse("metrics/total_followers_by_age.vm")
								#parse("metrics/total_male_followers_by_age.vm")
							</div>
					</fieldset>
				</div>

				<!-- Visits -->
				<div>
					<fieldset>
							<div class="g6 widgets">
								#parse("metrics/total_checkins.vm")
								#parse("metrics/total_checkins_by_duration.vm")
							</div>

							<div class="g6 widgets">
								#parse("metrics/total_checkins_by_day.vm")
								#parse("metrics/total_checkins_by_hour.vm")
							</div>
					</fieldset>
				</div>
				#end
			</div>
		</div>

	</section>
#parse("includes/footer.vm")
</body>
</html>