#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>#springMessage("app.title") | #springMessage("app.campaignSpecialList")</title>

	<meta name="description" content='#springMessage("app.campaignSpecialList.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="/main-be/js/campaignSpecialList.js"></script>
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<div class="g12 nodrop">
			<h1>#springMessage("app.campaignSpecialList")</h1>
			<p>#springMessage("app.campaignSpecialList.description")</p>
			#if( $!userInfo.Role != 13 )
			<a href="/main-be/campaignSpecial/"><button class="i_plus icon">#springMessage("app.campaignSpecialList.new")</button></a>
			#end
			<div style="float: right;">
			</div>
		</div>
		<table id="campaignSpecialRecords" class="datatable">
			<thead>
				<tr>
					<th width="30"></th>
					<th>#springMessage("app.campaignSpecialList.name")</th>
					<th>#springMessage("app.campaignSpecialList.offerType")</th>
					<th>#springMessage("app.campaignSpecialList.validFrom")</th>
					<th>#springMessage("app.campaignSpecialList.validTo")</th>
					<th>#springMessage("app.campaignSpecialList.creationDateTime")</th>
					<th>#springMessage("app.campaignSpecialList.country")</th>
					<th>#springMessage("app.campaignSpecialList.owner")</th>
					<th width="90">#springMessage("app.table.actions")</th>
				</tr>
			</thead>
			<tbody>
				<tr class="gradeX">
				</tr>
			</tbody>
		</table>
	</section>
#parse("includes/footer.vm")
</body>
</html>