#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
#if( $offerType )
	<title>#springMessage("app.title") | #springMessage("app.offerType.edit")</title>
#else
	<title>#springMessage("app.title") | #springMessage("app.offerType")</title>
#end

	<meta name="description" content='#springMessage("app.offerType.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="/main-be/js/offerType.js"></script>

	#if( $canwrite == false )
	<script>
		$(document).ready(function() {
			$.setReadOnly();
		});
	</script>
	#end
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<ul id="headbreadcrumb" class="breadcrumb" data-connect="breadcrumbcontent">
			<li><a href="#">#springMessage("app.offerType.generalData")</a></li>
		</ul>

		<div class="g12 nodrop">
			<table>
				<tr>
					<td width="110">
					#if( $offerType.AvatarId )
						<a class="fancybox" href="/img/$!offerType.AvatarId" title="$!offerType.getName().get("es")"><img src="/img/$!offerType.AvatarId" width="100" height="100" alt=""></a>
					#else
						<a class="fancybox" href="/main-be/css/images/defaultavatar.png"><img src="/main-be/css/images/defaultavatar.png" width="100" height="100" alt=""></a>
					#end
					</td>
					<td style="text-align: left;">
						<div class="g12 nodrop">
						#if( $offerType )
							<h1>#springMessage("app.offerType.edit")</h1>
						#else
							<h1>#springMessage("app.offerType")</h1>
						#end
							<p>#springMessage("app.offerType.description")</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div id="breadcrumbcontent">
				<!-- OfferType Profile -->
				<div>
					<form id="contactForm" method="post" action="doUpdateOfferType" autocomplete="off">
						<fieldset>
							<label>#springMessage("app.offerType.generalData")</label>

							<section>
								<label>#springMessage("data.offerType.es")</label>
								<div>
								<input style="width: 97% !important;" type="text" id="name_es" required data-errortext='#springMessage("error.offertypename")' value="$!offerType.getName().get("es")">
								#if ($offerType)
									<input type="hidden" id="offerTypeid" value="$offerType.Identifier">
									<input type="hidden" id="crudtype" value="edit">
								#else
									<input type="hidden" id="offerTypeid" value="">
									<input type="hidden" id="crudtype" value="create">
								#end
								</div>
							</section>

							<section>
								<label>#springMessage("data.offerType.en")</label>
								<div>
								<input style="width: 97% !important;" type="text" id="name_en" required data-errortext='#springMessage("error.offertypename")' value="$!offerType.getName().get("en")">
								#if ($offerType)
									<input type="hidden" id="offerTypeid" value="$offerType.Identifier">
									<input type="hidden" id="crudtype" value="edit">
								#else
									<input type="hidden" id="offerTypeid" value="">
									<input type="hidden" id="crudtype" value="create">
								#end
								</div>
							</section>

							<section>
								<label>#springMessage("data.ribbonText")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="ribbonText"  value="$!offerType.getRibbonText()">
								</div>
							</section>

							<section>
								<label for="avatar">#springMessage("data.avatar")</label>
								<div>
									<table>
										<tr>
											<td width="130" style="vertical-align: middle;">
											#if( $offerType.AvatarId )
												<a id="avatarAnchor" class="fancybox" href="/img/$!offerType.AvatarId" title="$!offerType.Name"><img id="avatarImage" src="/img/$!offerType.AvatarId" width="116" height="116" alt=""></a>
											#else
												<a id="avatarAnchor" class="fancybox" href="/main-be/css/images/defaultavatar.png" title=""><img id="avatarImage" src="/main-be/css/images/defaultavatar.png" width="116" height="116" alt=""></a>
											#end
											<input type="hidden" id="avatarId"/>
											</td>
											<td>
												<input type="file" id="avatar">
											</td>
										</tr>
									</table>
								</div>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/offerTypeList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="contactFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</section>
#parse("includes/footer.vm")
</body>
</html>