#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>#springMessage("app.title") | #springMessage("app.offerProposalList")</title>

	<meta name="description" content='#springMessage("app.offerProposalList.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="/main-be/js/offerProposalList.js"></script>
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<div class="g12 nodrop">
			<h1>#springMessage("app.offerProposalList")</h1>
			<p>#springMessage("app.offerProposalList.description")</p>
		</div>
		<table id="offerProposalRecords" class="datatable">
			<thead>
				<tr>
					<th>#springMessage("app.offerProposalList.text")</th>
					<th>#springMessage("app.offerProposalList.creationDateTime")</th>
					<th>#springMessage("app.offerProposalList.owner")</th>
					<th width="90">#springMessage("app.table.actions")</th>
				</tr>
			</thead>
			<tbody>
				<tr class="gradeX">
				</tr>
			</tbody>
		</table>
	</section>
#parse("includes/footer.vm")
</body>
</html>