#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>#springMessage("app.title") | #springMessage("app.profile")</title>

	<meta name="description" content='#springMessage("app.profile.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="js/profile.js"></script>
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<ul id="headbreadcrumb" class="breadcrumb" data-connect="breadcrumbcontent">
			<li><a href="#">#springMessage("app.profile.personalData")</a></li>
			<li><a href="#">#springMessage("app.profile.location")</a></li>
			<li><a href="#">#springMessage("app.profile.messaging")</a></li>
			<!-- <li><a href="#">#springMessage("app.profile.privacyPolicies")</a></li> -->
		</ul>

		<div class="g12 nodrop">
			<table>
				<tr>
					<td width="110">
					#if( $userProfile.AvatarId )
						<a class="fancybox" href="/img/$!userProfile.AvatarId" title="$!userProfile.Fullname"><img src="/img/$!userProfile.AvatarId" width="100" height="100" alt=""></a>
					#else
						<a class="fancybox" href="/main-be/css/images/defaultavatar.png"><img src="/main-be/css/images/defaultavatar.png" width="100" height="100" alt=""></a>
					#end
					</td>
					<td style="text-align: left;">
						<div class="g12 nodrop">
							<h1>#springMessage("app.profile")</h1>
							<p>#springMessage("app.profile.description")</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div id="breadcrumbcontent">
				<!-- Personal Profile -->
				<div>
					<form id="contactForm" method="post" action="doUpdateProfile" autocomplete="off">
						<fieldset>
							<label style="height: 30px;">
								#springMessage("app.profile.personalData")
								<button class="fr submit">#springMessage("app.button.submit")</button>
							</label>

							<section>
								<label>#springMessage("data.userName")</label>
								<div>
									<div>$userProfile.Identifier</div>
									<input type="hidden" id="userid" value="$userProfile.Identifier">
								</div>
							</section>

							<section>
								<label>#springMessage("data.password")</label>
								<div>
									<input type="password" id="password" required
										data-errortext='#springMessage("error.password")'
										value="$!userProfile.securitySettings.password">
								</div>
							</section>

							<section>
								<label>#springMessage("data.fullName")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="firstname" required
										data-errortext='#springMessage("error.name")'  
										value="$!userProfile.Firstname">
									<input style="width: 48% !important;" type="text" id="lastname"
										value="$!userProfile.Lastname">
								</div>
							</section>

							<section>
								<label>#springMessage("data.email")</label>
								<div>
									<input style="width: 97% !important;" type="email" id="mail" required 
										data-errortext='#springMessage("error.email")'
										value="$!userProfile.ContactInfo.Mail.Email">
								</div>
							</section>

							<section>
								<label>#springMessage("data.phoneAndMobile")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="phone" value="$!userProfile.ContactInfo.Phone">
									<input style="width: 48% !important;" type="text" id="mobile" value="$!userProfile.ContactInfo.Mobile">
								</div>
							</section>

							<section>
								<label for="avatar">#springMessage("data.avatar")</label>
								<div>
									<table>
										<tr>
											<td width="130" style="vertical-align: middle;">
											#if( $userProfile.AvatarId )
												<a id="avatarAnchor" class="fancybox" href="/img/$!userProfile.AvatarId" title="$!userProfile.Fullname"><img id="avatarImage" src="/img/$!userProfile.AvatarId" width="116" height="116" alt=""></a>
											#else
												<a id="avatarAnchor" class="fancybox" href="/main-be/css/images/defaultavatar.png" title=""><img id="avatarImage" src="/main-be/css/images/defaultavatar.png" width="116" height="116" alt=""></a>
											#end
											<input type="hidden" id="avatarId"/>
											</td>
											<td>
												<input type="file" id="avatar">
											</td>
										</tr>
									</table>
								</div>
							</section>

							<section>
								<label>#springMessage("data.gender")</label>
								<div>
									#select("gender", $userProfile.Gender, $svh.getGenderNames(${lang}), $svh.GenderValues)
								</div>
							</section>

							<section>
								<label for="birthDate">#springMessage("data.birthdate")</label>
								<div>
									<input id="birthDay" type="text" maxlength="2" style="width: 30px;" value="#getday($userProfile.birthDate)" data-regex="^[0-9 ]+$" data-errortext='#springMessage("error.onlyNumbers")'>
									#select("birthMonth", "#getmonth($userProfile.birthDate)", $svh.getMonthNames(${lang}), $svh.MonthValues)
									<input id="birthYear" type="text" maxlength="4" style="width: 50px;" value="#getyear($userProfile.birthDate)" data-regex="^[0-9 ]+$" data-errortext='#springMessage("error.onlyNumbers")'>
								</div>
							</section>

							<label>#springMessage("app.profile.additionalData")</label>

							<section>
								<label>#springMessage("data.webpage")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="webURL"  placeholder="http://" value="$!userProfile.ContactInfo.WebURL">
								</div>
							</section>

							<section>
								<label>#springMessage("data.facebook")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="facebookId" value="$!userProfile.ContactInfo.FacebookId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.twitter")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="twitterId" value="$!userProfile.ContactInfo.TwitterId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.googleId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="googleId" value="$!userProfile.ContactInfo.GoogleId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.foursquareId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="foursquareId" value="$!userProfile.ContactInfo.FoursquareId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.youtubeChannel")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="youtubeChannel" value="$!userProfile.ContactInfo.YoutubeChannel">
								</div>
							</section>

							<section>
								<div><button class="fr submit">#springMessage("app.button.submit")</button></div>
							</section>

							<section>
								<div id="contactFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				<!-- Location -->
				<div>
					<form id="locationForm" method="post" action="doUpdateProfileLocation" autocomplete="off">
						<fieldset>
							<input type="hidden" id="userid" value="$userProfile.Identifier">
							<label style="height: 30px;">
								#springMessage("app.profile.location")
								<button class="fr submit">#springMessage("app.button.submit")</button>
							</label>

							<section>
								<label>#springMessage("data.addressAndNumber")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="streetName" value="$!userProfile.Address.StreetName">
									<input style="width: 48% !important;" type="text" id="streetNumber" value="$!userProfile.Address.StreetNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.citiAndZipCode")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="city" value="$!userProfile.Address.City">
									<input style="width: 48% !important;" type="text" id="zipCode" value="$!userProfile.Address.ZipCode">
								</div>
							</section>

							<section>
								<label>#springMessage("data.province")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="province" value="$!userProfile.Address.Province">
								</div>
							</section>

							<section>
								<label>#springMessage("data.country")</label>
								<div>
									#select("country", $!userProfile.Address.Country, $svh.getCountryNames(${lang}), $svh.getCountryNames(${lang}))
								</div>
							</section>

							<section>
								<label>#springMessage("data.currentCountry")</label>
								<div>
									#select("currentCountry", $!userProfile.ViewLocation.Country, $svh.getCountryNames(${lang}), $svh.getCountryNames(${lang}))
								</div>
							</section>

							<section>
								<div><button class="fr submit">#springMessage("app.button.submit")</button></div>
							</section>

							<section>
								<div id="locationFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				<!-- Messaging options -->
				<div>
					<form id="messagingForm" method="post" action="doUpdateProfileMessaging" autocomplete="off">
						<fieldset>
							<input type="hidden" id="userid" value="$userProfile.Identifier">
							<label style="height: 30px;">
								#springMessage("app.profile.messaging")
								<button class="fr submit">#springMessage("app.button.submit")</button>
							</label>

							<section>
								<label>#springMessage("data.receivePushMessages")</label>
								<div>
									#select("receivePushMessages", $!userProfile.ReceivePushMessages, $svh.getBooleanNames(${lang}), $svh.BooleanValues)
								</div>
							</section>

							<section>
								<label>#springMessage("data.geoFenceEnabled")</label>
								<div>
									#select("geoFenceEnabled", $!userProfile.GeoFenceEnabled, $svh.getBooleanNames(${lang}), $svh.BooleanValues)
								</div>
							</section>

							<section>
								<div><button class="fr submit">#springMessage("app.button.submit")</button></div>
							</section>

							<section>
								<div id="messagingFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				<!-- Privacy Policies -->
				<!--
				<div>
					<form id="privacyPolicies" autocomplete="off">
						<fieldset>
							<label>#springMessage("app.profile.privacyPolicies")</label>
							<div>#springMessage("data.profilePrivacyPolicies")</div>
						</fieldset>
					</form>
				</div>
				-->
			</div>
		</div>

	</section>
#parse("includes/footer.vm")
</body>
</html>