#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>#springMessage("app.title") | #springMessage("app.rewardList")</title>

	<meta name="description" content='#springMessage("app.rewardList.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="/main-be/js/rewardList.js"></script>
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<div class="g12 nodrop">
			<h1>#springMessage("app.rewardList")</h1>
			<p>#springMessage("app.rewardList.description")</p>
			#if( $!userInfo.Role != 13 )
			<a href="/main-be/reward/"><button class="i_plus icon">#springMessage("app.rewardList.new")</button></a>
			#end
			<div style="float: right;">
			<select id="viewType" style="margin-top:10px;">
				<option value="active">#springMessage("app.rewardList.viewTypeActive")</option>
				<option value="all">#springMessage("app.rewardList.viewTypeAll")</option>
			</select>
			</div>
		</div>
		<table id="rewardRecords" class="datatable">
			<thead>
				<tr>
					<th>#springMessage("app.rewardList.name")</th>
					<th>#springMessage("app.rewardList.validFrom")</th>
					<th>#springMessage("app.rewardList.validTo")</th>
					<th>#springMessage("app.rewardList.creationDateTime")</th>
					<th>#springMessage("app.rewardList.country")</th>
					<th>#springMessage("app.rewardList.owner")</th>
					<th width="90">#springMessage("app.table.actions")</th>
				</tr>
			</thead>
			<tbody>
				<tr class="gradeX">
				</tr>
			</tbody>
		</table>
	</section>
#parse("includes/footer.vm")
</body>
</html>