#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>#springMessage("app.title") | #springMessage("app.statistics")</title>

	<meta name="description" content='#springMessage("app.statistics")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script src="/main-be/js/statistics.js"></script>
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<div class="g12 nodrop">
			<h1>#springMessage("app.statistics")</h1>
			<p>#springMessage("app.statistics.description")</p>
		</div>

		<div class="widget" id="widget_1">
			<div id="breadcrumbcontent">
				<iframe src="http://analytics.allshoppings.mobi/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=2&period=week&date=today&token_auth=29e359f849460d27b91098745df25e7d" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="1000px"></iframe>
			</div>
		</div>

	</section>
#parse("includes/footer.vm")
</body>
</html>