#parse("/includes/macros.vm")
<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
#if( $store )
	<title>#springMessage("app.title") | #springMessage("app.store.edit")</title>
#else
	<title>#springMessage("app.title") | #springMessage("app.store")</title>
#end

	<meta name="description" content='#springMessage("app.store.description")'>
	<meta name="author" content='#springMessage("app.url")'>

#parse("includes/header.vm")

	<!-- local functionality script -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="/main-be/js/gmaps.js"></script>
	<script src="/main-be/js/store.js"></script>

	#if( $canwrite == false )
	<script>
		$(document).ready(function() {
			$.setReadOnly();
		});
	</script>
	#end
</head>
<body>
#parse("includes/topmenu.vm")
#parse("includes/leftmenu.vm")
	<!-- content -->
	<section id="content">
		<ul id="headbreadcrumb" class="breadcrumb" data-connect="breadcrumbcontent">
			<li><a href="#">#springMessage("app.store.generalData")</a></li>
			#if( $store )
			#if(!($store.shoppingId))
			<li><a id="bcLocation" href="#">#springMessage("app.store.location")</a></li>
			#end
			<li><a href="#">#springMessage("app.store.media")</a></li>
			<li><a href="#">#springMessage("app.store.invoicingData")</a></li>
			<li><a href="#">#springMessage("app.audit")</a></li>
			<!-- <li><a href="#">#springMessage("app.store.privacyPolicies")</a></li> -->
			#end
		</ul>

		<div class="g12 nodrop">
			<table>
				<tr>
					<td width="110">
					#if( $store.AvatarId )
						<a class="fancybox" href="/img/$!store.AvatarId" title="$!store.Fullname"><img src="/img/$!store.AvatarId" width="100" height="100" alt=""></a>
					#else
						<a class="fancybox" href="/main-be/css/images/defaultavatar.png"><img src="/main-be/css/images/defaultavatar.png" width="100" height="100" alt=""></a>
					#end
					</td>
					<td style="text-align: left;">
						<div class="g12 nodrop">
						#if( $store )
							<h1>#springMessage("app.store.edit")</h1>
						#else
							<h1>#springMessage("app.store")</h1>
						#end
							<p>#springMessage("app.store.description")</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div id="breadcrumbcontent">
				<!-- Store Profile -->
				<div>
					<form id="contactForm" method="post" action="doUpdateStore" autocomplete="off">
						<fieldset>
							<label style="height: 30px;">
								#springMessage("app.store.generalData")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
							</label>

							<section>
								<label>#springMessage("data.shopping")</label>
								<div>
								#if ($store)
									$store.shoppingName
								#else
									#select("shoppingId", $!store.ShoppingId, $storeShoppingNames, $storeShoppingIds)
								#end
								</div>
							</section>

							<section>
								<label>#springMessage("data.brand")</label>
								<div>
								#if ($store)
									$store.brandName
								#else
									#select("brandId", $!store.BrandId, $brandNames, $brandIds)
								#end
								</div>
							</section>

							<section>
								<label>#springMessage("data.storeName")</label>
								<div>
								<input style="width: 97% !important;" type="text" id="name" required data-errortext='#springMessage("error.name")' value="$!store.Name">
								#if ($store)
									<input type="hidden" id="storeid" value="$store.Identifier">
									<input type="hidden" id="crudtype" value="edit">
								#else
									<input type="hidden" id="storeid" value="">
									<input type="hidden" id="crudtype" value="create">
								#end
								</div>
							</section>

							<section>
								<label for="avatar">#springMessage("data.avatar")</label>
								<div>
									<table>
										<tr>
											<td width="130" style="vertical-align: middle;">
											#if( $store.AvatarId )
												<a id="avatarAnchor" class="fancybox" href="/img/$!store.AvatarId" title="$!store.Fullname"><img id="avatarImage" src="/img/$!store.AvatarId" width="116" height="116" alt=""></a>
											#else
												<a id="avatarAnchor" class="fancybox" href="/main-be/css/images/defaultavatar.png" title=""><img id="avatarImage" src="/main-be/css/images/defaultavatar.png" width="116" height="116" alt=""></a>
											#end
											<input type="hidden" id="avatarId"/>
											</td>
											<td>
												<input type="file" id="avatar">
											</td>
										</tr>
									</table>
								</div>
							</section>

							<section>
								<label>#springMessage("data.status")</label>
								<div>
									#select("status", $!store.Status, $svh.getStatusNames(${lang}), $svh.StatusValues)
								</div>
							</section>

							<!-- 
							<section>
								<label>#springMessage("app.shopping.customCheckinMessage")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="customCheckinMessage"  value="$!store.CustomCheckinMessage">
								</div>
							</section>
							 -->
							 
							<section>
								<label>#springMessage("data.storeNumber")</label>
								<div>
									<input style="width: 100px !important;" type="text" id="storeNumber" value="$!store.StoreNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.floorNumber")</label>
								<div>
									<input style="width: 100px !important;" type="text" id="floorNumber" value="$!store.FloorNumber">
								</div>
							</section>

							<label>#springMessage("app.store.contactData")</label>

							<section>
								<label>#springMessage("data.email")</label>
								<div>
									<input style="width: 97% !important;" type="email" id="mail" value="$!store.ContactInfo.Mail.Email">
								</div>
							</section>

							<section>
								<label>#springMessage("data.phoneAndMobile")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="phone" value="$!store.ContactInfo.Phone">
									<input style="width: 48% !important;" type="text" id="mobile" value="$!store.ContactInfo.Mobile">
								</div>
							</section>

							<section>
								<label>#springMessage("data.webpage")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="webURL"  placeholder="http://" value="$!store.ContactInfo.WebURL">
								</div>
							</section>

							<section>
								<label>#springMessage("data.facebook")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="facebookId" value="$!store.ContactInfo.FacebookId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.twitter")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="twitterId" value="$!store.ContactInfo.TwitterId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.googleId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="googleId" value="$!store.ContactInfo.GoogleId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.foursquareId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="foursquareId" value="$!store.ContactInfo.FoursquareId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.tiendeoId")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="tiendeoId" value="$!store.ContactInfo.TiendeoId">
								</div>
							</section>

							<section>
								<label>#springMessage("data.youtubeChannel")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="youtubeChannel" value="$!store.ContactInfo.YoutubeChannel">
								</div>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="contactFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				#if( $store )
				<!-- Location -->
				#if(!($store.shoppingId))
				<div>
					<form id="locationForm" method="post" action="doUpdateStoreLocation" autocomplete="off">
						<fieldset>
							<input type="hidden" id="storeid" value="$store.Identifier">
							<label style="height: 30px;">
								#springMessage("app.store.location")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
							</label>

							<section>
								<label>#springMessage("data.timezone")</label>
								<div>
									#timezone("timezone", $!store.Timezone)
								</div>
							</section>

							<section>
								<label>#springMessage("data.addressAndNumber")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="streetName" value="$!store.Address.StreetName">
									<input style="width: 48% !important;" type="text" id="streetNumber" value="$!store.Address.StreetNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.citiAndZipCode")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="city" value="$!store.Address.City">
									<input style="width: 48% !important;" type="text" id="zipCode" value="$!store.Address.ZipCode">
								</div>
							</section>

							<section>
								<label>#springMessage("data.province")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="province" value="$!store.Address.Province">
								</div>
							</section>

							<section>
								<label>#springMessage("data.country")</label>
								<div>
									#select("country", $!store.Address.Country, $svh.getCountryNames(${lang}), $svh.getCountryNames(${lang}))
								</div>
							</section>

							<section>
								<label>#springMessage("data.latitudeandlongitude")</label>
								<div>
									<input style="width: 120px !important;" data-regex="^[0-9 \- .]+$" id="latitude" value="$!store.Address.Latitude">
									<input style="width: 120px !important;" data-regex="^[0-9 \- .]+$" id="longitude" value="$!store.Address.Longitude">
									<button id="updateCoordinates" style="float: right;" >#springMessage("data.calculateCoordinates")</button>
								</div>
							</section>

							<section>
								<label>#springMessage("data.checkinAreaSize")</label>
								<div>
									<input style="width: 120px !important;" data-regex="^[0-9 ]+$" id="checkinAreaSize" value="$!store.CheckinAreaSize">
									<input type="hidden" id="fenceSize" value="0"/>
								</div>
							</section>

							<section>
								<label>#springMessage("data.map")</label>
								<div>
									<div id="map"></div>
								</div>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="locationFormMsg"></div>
							</section>
							
						</fieldset>
					</form>
				</div>
				#end

				<!-- Multimedia -->
				<div>
					<form id="mediaForm" method="post" action="doUpdateStoreMedia" autocomplete="off">
						<fieldset>
							<input type="hidden" id="storeid" value="$store.Identifier">
							<label style="height: 30px;">
								#springMessage("app.store.media")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
							</label>

							<section>
								<label for="mediaUpload">#springMessage("app.store.uploadPhotos")<br>
								<span>#springMessage("app.store.uploadPhotosMeasures")</span>
								</label>
								<div>
									<input type="file" id="mediaUpload" multiple>
								</div>
							</section>

							<section>
								<label for="media">#springMessage("app.store.currentPhotos")</label>
								<ul id="mediaGallery" class="gallery">
								#foreach( $photo in $!store.PhotoId )
									<li><a href="/img/$photo"><img src="/img/$photo" width="116" height="116" alt=""></a></li>
								#end
								</ul>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="invoicingFormMsg"></div>
							</section>
							
						</fieldset>
					</form>
				</div>

				<!-- Invoicing Data -->
				<div>
					<form id="invoicingForm" method="post" action="doUpdateStoreInvoicing" autocomplete="off">
						<fieldset>
							<input type="hidden" id="storeid" value="$store.Identifier">
							<label style="height: 30px;">
								#springMessage("app.store.invoicingData")
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
							</label>

							<section>
								<label>#springMessage("data.companyName")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="companyName" value="$!store.InvoicingInfo.CompanyName">
								</div>
							</section>

							<section>
								<label>#springMessage("data.inscription")</label>
								<div>
									#select("inscription", $!store.InvoicingInfo.Inscription, $svh.getInscriptionsNames(${lang}), $svh.getInscriptionsNames(${lang}))
								</div>
							</section>

							<section>
								<label>#springMessage("data.vatNumber")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="vatNumber" value="$!store.InvoicingInfo.VatNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.addressAndNumber")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="invoiceStreetName" value="$!store.InvoicingInfo.InvoiceStreetName">
									<input style="width: 48% !important;" type="text" id="invoiceStreetNumber" value="$!store.InvoicingInfo.InvoiceStreetNumber">
								</div>
							</section>

							<section>
								<label>#springMessage("data.citiAndZipCode")</label>
								<div>
									<input style="width: 48% !important;" type="text" id="invoiceCity" value="$!store.InvoicingInfo.InvoiceCity">
									<input style="width: 48% !important;" type="text" id="invoiceZipCode" value="$!store.InvoicingInfo.InvoiceZipCode">
								</div>
							</section>

							<section>
								<label>#springMessage("data.province")</label>
								<div>
									<input style="width: 97% !important;" type="text" id="invoiceProvince" value="$!store.InvoicingInfo.InvoiceProvince">
								</div>
							</section>

							<section>
								<label>#springMessage("data.country")</label>
								<div>
									#select("invoiceCountry", $!store.InvoicingInfo.InvoiceCountry, $svh.getCountryNames(${lang}), $svh.getCountryNames(${lang}))
								</div>
							</section>

							<section>
								<div>
								#if( $canwrite == true )
									<button class="fr submit">#springMessage("app.button.submit")</button>
								#else
									<button class="fr" onclick="window.location='/main-be/storeList';" >#springMessage("app.button.back")</button>
								#end
								</div>
							</section>

							<section>
								<div id="invoicingFormMsg"></div>
							</section>
							
						</fieldset>
					</form>
				</div>

				<!-- Audit -->
				<div>
					<form id="policiesForm" autocomplete="off">
						<fieldset>
							<input type="hidden" id="offerid" value="$offer.Identifier">
							<label style="height: 30px;">
								#springMessage("app.audit")
							</label>

							<section>
								<label for="creationDateTime">#springMessage("app.audit.creationDateTime")</label>
								<div>
									$svh.formatDate($store.creationDateTime) - $svh.formatTime($store.creationDateTime)
								</div>
							</section>

							<section>
								<label for="lastUpdate">#springMessage("app.audit.lastUpdate")</label>
								<div>
									$svh.formatDate($store.lastUpdate) - $svh.formatTime($store.lastUpdate)
								</div>
							</section>

							<section>
								<label for="lastUpdate">#springMessage("app.audit.owner")</label>
								<div>
									$store.acl.owner
								</div>
							</section>

							<section>
								<div id="auditFormMsg"></div>
							</section>

						</fieldset>
					</form>
				</div>

				<!-- Privacy Policies -->
				<!--
				<div>
					<form id="privacyPolicies" autocomplete="off">
						<fieldset>
							<label>#springMessage("app.profile.privacyPolicies")</label>
							<div>#springMessage("data.profilePrivacyPolicies")</div>
						</fieldset>
					</form>
				</div>
				-->
				#end
			</div>
		</div>

	</section>
#parse("includes/footer.vm")
</body>
</html>